h1{
    padding-top: 15;
    font-family:serif;
}
#syn{
    text-align: center;
    width: 100%;
    height: 80px;
    background-image: url(tło.jpg);
    background-size: 100%;
    color: white;
}
#tekst{
    width: 831;
    float: right;
    height: 556;
    background-image: url(ok.jpg);
    background-size: 100%;
    margin-right: 16px;
    border-radius: 10px;
    padding-left: 5px;
    
}
#obraz{
    float: left;
    width: 0%;
    margin-left: 16px;
    margin-right: 10px;
}

HTML{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-image: url(tło.jpg);
    background-size: 100%;
}
div{
    background-color: white;
}
footer{ 
    text-align: center;
    clear: both;
    padding: 100px;
    color: white;
}
#ojciecc{
    border-radius: 10px;
}
